:root {
  --main-blue: #77D3F7;
  --main-white: #FEFEFE;
  --main-green: #A3D4AB;
  --main-red: #9F5553;
  --main-orange: #B0664E;
  --main-gray: #969696;
  --light-gray: #E5E5E5;
  --app-radius: 2px;
  --main-font: 'Arial', sans-serif;
  --vspace: 10px;
  --hspace: 10px;
}

.main-blue {
  background-color: var(--main-blue);
}

.main-green {
  background-color: var(--main-green);
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  font-family: var(--main-font);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
